version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: weekly
      day: thursday
      time: "23:00"
      timezone: Europe/Amsterdam
    open-pull-requests-limit: 25
    target-branch: main
    assignees:
      - mprins
    labels:
      - infrastructure
      - dependency
    # stay on springboot 4.0.x / spring-security 7.0.x / hibernate 7.1.x / jetty 12.0.x (for SolrJ) for now
    ignore:
      - dependency-name: org.springframework.boot:spring-boot-starter-parent
        versions:
          - '>= 4.1'
      - dependency-name: org.springframework.security:spring-security-test
        versions:
          - '>= 7.1'
      - dependency-name: org.hibernate.orm.tooling:hibernate-enhance-maven-plugin
        versions:
          - '>= 7.2'
      - dependency-name: org.eclipse.jetty.ee10:jetty-ee10-bom
        versions:
          - '>= 12.1'

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: thursday
      time: "23:00"
      timezone: Europe/Amsterdam
    assignees:
      - mprins
    labels:
      - infrastructure

  - package-ecosystem: docker
    directories:
      - "/"
      - "/.devcontainer/"
    schedule:
      interval: weekly
      day: thursday
      time: "23:00"
      timezone: Europe/Amsterdam
    target-branch: main
    assignees:
      - mprins
    labels:
      - infrastructure
    ignore:
      # stay on Java 21 for now
      - dependency-name: "eclipse-temurin"
        versions:
          - ">= 22"

  - package-ecosystem: "docker-compose"
    directory: "/build/ci/"
    schedule:
      interval: weekly
      day: thursday
      time: "23:00"
      timezone: Europe/Amsterdam
    labels:
      - infrastructure

  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: weekly
      day: thursday
      time: "23:00"
      timezone: Europe/Amsterdam
    labels:
      - infrastructure