name: 'Ubuntu QA Maven build'

env:
  MAVEN_OPTS: -Djava.awt.headless=true
  MAVEN_VERSION: '3.9.11'

concurrency:
  group: ${{ github.workflow }}-${{ ( github.ref == 'refs/heads/main' || github.ref == 'refs/heads/release' ) && format('ci-main-{0}', github.sha) || format('ci-main-{0}', github.ref) }}
  cancel-in-progress: true

on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: 'QA check'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      checks: write
    steps:
      - uses: actions/checkout@v6

      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4
        with:
          allow-dependencies-licenses: pkg:maven/org.eclipse.angus/jakarta.mail@2.0.4?type=jar
          allow-licenses: MIT, Apache-2.0, BSD-2-Clause, BSD-3-Clause, ISC, MPL-2.0, LGPL-2.1-only, EPL-2.0, EPL-1.0
          fail-on-severity: low
          comment-summary-in-pr: on-failure
          allow-ghsas: GHSA-qh8g-58pp-2wxh

      - name: 'Set up JDK'
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'

      - name: 'Set up Maven'
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: ${{ env.MAVEN_VERSION }}

      - name: 'QA build with Maven'
        run: mvn -B -V -fae -DskipQA=false -Dspotless.action=check -Dpom.fmt.action=verify -Ddocker.skip=true -DskipTests -DskipITs clean install

      - uses: lcollins/pmd-github-action@v3.1.0
        if: always()
        with:
          path: '**/pmd.xml'
          fail-on-violation: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Cleanup snapshots'
        run: |
          find ~/.m2/repository -name "*SNAPSHOT*" -type d | xargs rm -rf {}
