name: 'Release Drafter & Contributors'

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  update_release_draft:
    runs-on: ubuntu-slim
    name: 'Update release Draft'
    permissions:
      contents: write
      pull-requests: read
    steps:
      - uses: release-drafter/release-drafter@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  contributors:
    runs-on: ubuntu-slim
    name: 'Update Contributors'
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: JoshuaKGoldberg/all-contributors-auto-action@v0.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
