name: 'REUSE Compliance Check'

on:
  push:

permissions:
  contents: read

jobs:
  test:
    name: 'Check compliance'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 'REUSE Compliance Check'
        uses: fsfe/reuse-action@v5
        with:
          args: lint
